## Irvington Volunteer Project 

It's that time of year again! 

In your small town of Irvington, there is an annual festival that brings in visitors from all over the state! It's a huge deal and depends completely on the help of the local townspeople. 

The festival is 100% volunteer-run and operated, and it's your job to make sure all the volunteers have everything they need to get started. It is also your job to make sure volunteers are well organized, well prepared, and ready to rock when the day of the festival arrives! 

In the months before the festival, you collected a lot of information on each of the 1,000 volunteers. This information will help you better organize the volunteer effort. Follow the prompts below to complete your task of leading the volunteer effort!

***

#### For this task, use the Irvington Volunteers dataset. This dataset includes the following columns:

    * First = First name of volunteer
    * Last = Last name of volunteer
    * Gender = Gender of volunteer
    * Age = Age of volunteer         
    * Shift = Shift of volunteer worker; 1 = first shift; 2 = second shift; 3 = third shift; 4 = forth shift
    * Month = Month of year volunteer signed up for task
    * Volunteer Task = Assigned task for volunteer 
    * Task Level = Level of involvement for volunteer task; 1 = beginner, 2 = moderate, 3 = expert
    * Supervisor Number = Supervisor assigned to volunteer
    * Fees Owed = Outstanding volunteer fee's that are owed to community
    * Materials Needed = Does the volunteer still need task-specific materials; Y = yes; N = no
    * Volunteer Hours = Number of hours volunteer has spent preparing for task
    * Hours Pledged = Number of hours volunteer pledged to spend on task
    * Task Training Completed = Did the volunteer complete task-specific training; Y = yes; N = no
    * Recruited Volunteers = Number of other volunteers recruited by this volunteer

1. Import the "Irvington Volunteers" dataset. Check to make sure the dataset looks like what you're expecting

In [1]:
import pandas as pd
import numpy as np

In [2]:
x = pd.read_excel("Irvington_Volunteers.xlsx")

x

,First,Last,Gender,Age,Shift,Month,Volunteer Task,Task Level,Supervisor Number,Fees Owed,Materials Needed,Volunteer Hours,Hours Pledged,Task Training Completed,Recruited Volunteers
0,Jackie,Jackson,F,59,4,12,Fire Safety,2,1,18,Y,19,28,Y,3
1,Mary,Patterson,F,31,4,10,First Aid Booth,1,1,7,N,27,28,N,6
2,Tanya,Adams,F,48,1,3,Concession Stand,3,1,22,N,16,28,Y,2
3,Tanya,Henderson,F,19,2,2,Information Desk,3,1,26,Y,9,28,Y,5
4,Walter,Franklin,M,25,1,2,Concession Stand,1,1,25,Y,11,28,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,Walter,Mulgrew,M,63,3,4,Information Desk,2,5,10,Y,25,28,Y,5
995,Veronica,Looner,F,63,3,5,Clean Up,2,5,28,N,8,28,Y,4
996,Larry,Patterson,M,49,1,4,Clean Up,2,5,21,Y,16,28,N,3
997,Victor,Kane,M,39,3,7,Concession Stand,2,5,28,Y,8,28,Y,4
998,Victoria,Rogers,F,29,4,4,Gardening and Lawn Care,2,5,21,Y,18,28,N,1

2. Confirm all your volunteers are accounted for and all of the information you need is within the dataset. What characteristics can you identify in the dataset?
***

* How many rows are in the dataset?
* How many columns are in the dataset?
* What types of data are within each column?

In [3]:
x.info() #999 rows #15 columns #9 integers # 6 objects

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   First                    999 non-null    object
 1   Last                     999 non-null    object
 2   Gender                   999 non-null    object
 3   Age                      999 non-null    int64
 4   Shift                    999 non-null    int64
 5   Month                    999 non-null    int64
 6   Volunteer Task           999 non-null    object
 7   Task Level               999 non-null    int64
 8   Supervisor Number        999 non-null    int64
 9   Fees Owed                999 non-null    int64
 10  Materials Needed         999 non-null    object
 11  Volunteer Hours          999 non-null    int64
 12  Hours Pledged            999 non-null    int64
 13  Task Training Completed  999 non-null    object
 14  Recruited Volunteers     999 non-null    int64
dtypes: int64(9), object(6)
memory usage: 117.2+ KB

3. Before taking this list seriously, we need to check to make sure all the volunteers are eligible to work their specific task. The only eligibility requirement is age-based -- no volunteers can be under the age of 13 and no volunteers can be over the age of 75. Are there any volunteers that fall outside of this range?

In [4]:
eligiility = [(x["Age"] <= 13), 
              (x["Age"] >= 75)]

age = ["Minor","Senior"]


x["Eligibility"] = np.select(eligiility, age, default = "Eligible")
x

,First,Last,Gender,Age,Shift,Month,Volunteer Task,Task Level,Supervisor Number,Fees Owed,Materials Needed,Volunteer Hours,Hours Pledged,Task Training Completed,Recruited Volunteers,Eligibility
0,Jackie,Jackson,F,59,4,12,Fire Safety,2,1,18,Y,19,28,Y,3,Eligible
1,Mary,Patterson,F,31,4,10,First Aid Booth,1,1,7,N,27,28,N,6,Eligible
2,Tanya,Adams,F,48,1,3,Concession Stand,3,1,22,N,16,28,Y,2,Eligible
3,Tanya,Henderson,F,19,2,2,Information Desk,3,1,26,Y,9,28,Y,5,Eligible
4,Walter,Franklin,M,25,1,2,Concession Stand,1,1,25,Y,11,28,Y,4,Eligible
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,Walter,Mulgrew,M,63,3,4,Information Desk,2,5,10,Y,25,28,Y,5,Eligible
995,Veronica,Looner,F,63,3,5,Clean Up,2,5,28,N,8,28,Y,4,Eligible
996,Larry,Patterson,M,49,1,4,Clean Up,2,5,21,Y,16,28,N,3,Eligible
997,Victor,Kane,M,39,3,7,Concession Stand,2,5,28,Y,8,28,Y,4,Eligible
998,Victoria,Rogers,F,29,4,4,Gardening and Lawn Care,2,5,21,Y,18,28,N,1,Eligible

In [5]:
x["Eligibility"].count # everyone is eligible

<bound method Series.count of 0      Eligible
1      Eligible
2      Eligible
3      Eligible
4      Eligible
         ...
994    Eligible
995    Eligible
996    Eligible
997    Eligible
998    Eligible
Name: Eligibility, Length: 999, dtype: object>

In [6]:
x["Age"].min()

16

In [7]:
x["Age"].max()

68

In [8]:
x.loc[(x["Age"] <= 13) | (x["Age"] >= 75)]

Empty DataFrame
Columns: [First, Last, Gender, Age, Shift, Month, Volunteer Task, Task Level, Supervisor Number, Fees Owed, Materials Needed, Volunteer Hours, Hours Pledged, Task Training Completed, Recruited Volunteers, Eligibility]
Index: []

4. Did you miss anyone? Did you make sure to record ALL the information for ALL the volunteers? Quickly check if your missing any data in this dataset.

In [9]:
x.isnull().sum() #no missing data

First                      0
Last                       0
Gender                     0
Age                        0
Shift                      0
Month                      0
Volunteer Task             0
Task Level                 0
Supervisor Number          0
Fees Owed                  0
Materials Needed           0
Volunteer Hours            0
Hours Pledged              0
Task Training Completed    0
Recruited Volunteers       0
Eligibility                0
dtype: int64

In [10]:
x.loc[x.isnull().any(axis = 1)] #no rows have missing data

Empty DataFrame
Columns: [First, Last, Gender, Age, Shift, Month, Volunteer Task, Task Level, Supervisor Number, Fees Owed, Materials Needed, Volunteer Hours, Hours Pledged, Task Training Completed, Recruited Volunteers, Eligibility]
Index: []

5. A lot of the information we have organizes the volunteers into specific groups. It's important that none of these groups are mismatched (too many people in one group vs another). Let's check how many volunteers fall into each of the following groups. (Hint: you need to use the value counts function for this question). 
***

* Last (how many volunteers are from the same family?)
* Gender
* Shift
* Month
* Volunteer Task
* Task Level
* Supervisor Number
* Materials Needed
* Task Training Completed

In [11]:
x.value_counts(x["Last"])

Last
Johnson      49
Carter       39
Turner       39
Michaels     38
Rose         38
Kennedy      38
Looner       38
Henderson    37
Martins      36
Davidson     35
Walters      34
Harrison     34
Moore        34
Kane         34
Baker        34
Patterson    33
Adams        33
Withers      33
Sapp         32
Vaughn       32
Isaacson     31
Rogers       31
Sears        30
Jackson      29
Samuelson    29
Gerardo      28
Franklin     28
Mulgrew      26
Ettienne     25
Monroe       22
dtype: int64

In [12]:

x.value_counts(x["Gender"])

Gender
M    510
F    489
dtype: int64

In [13]:
x.value_counts(x["Shift"])

Shift
3    258
2    251
4    246
1    244
dtype: int64

In [14]:
x["Month"].value_counts()

3     96
4     95
2     89
11    89
12    87
8     86
7     86
9     83
5     74
6     73
10    72
1     69
Name: Month, dtype: int64

In [15]:
x["Volunteer Task"].value_counts()

Concession Stand           142
Information Desk           131
First Aid Booth            130
Clean Up                   128
Safety                     124
Fire Safety                120
Booth Set-Up               114
Gardening and Lawn Care    110
Name: Volunteer Task, dtype: int64

In [16]:
x["Task Level"].value_counts()

3    352
2    342
1    305
Name: Task Level, dtype: int64

In [17]:
x["Supervisor Number"].value_counts()

3    212
2    207
5    202
4    195
1    183
Name: Supervisor Number, dtype: int64

In [18]:
x["Materials Needed"].value_counts()

Y    637
N    362
Name: Materials Needed, dtype: int64

In [19]:
x["Task Training Completed"].value_counts()

Y    586
N    413
Name: Task Training Completed, dtype: int64

6. Let's look at these same groups, but from another angle. It's important that the community members are mixing and mingling with members of all ages. What is the average age of volunteers within all the groups listed below? (Hint: you need to use the groupby function for this question). Once you determine the average age of volunteers in the groups below, determine the average number of volunteer hours for all the groups below. 
***

* Gender
* Shift
* Month
* Volunteer Task
* Task Level
* Supervisor Number
* Materials Needed
* Task Training Completed

In [20]:
x["Age"].groupby(x["Gender"]).mean()

Gender
F    42.775051
M    42.270588
Name: Age, dtype: float64

In [21]:
x["Age"].groupby(x["Shift"]).mean()

Shift
1    41.434426
2    43.334661
3    42.275194
4    43.012195
Name: Age, dtype: float64

In [22]:
x["Age"].groupby(x["Month"]).mean()

Month
1     46.420290
2     41.853933
3     41.958333
4     44.347368
5     40.013514
6     37.465753
7     40.546512
8     42.930233
9     43.409639
10    43.805556
11    41.483146
12    45.770115
Name: Age, dtype: float64

In [23]:
x["Age"].groupby(x["Volunteer Task"]).mean()

Volunteer Task
Booth Set-Up               40.947368
Clean Up                   43.648438
Concession Stand           43.450704
Fire Safety                43.166667
First Aid Booth            41.500000
Gardening and Lawn Care    41.309091
Information Desk           44.908397
Safety                     40.709677
Name: Age, dtype: float64

In [24]:
x["Age"].groupby(x["Task Level"]).mean()

Task Level
1    43.245902
2    42.345029
3    42.053977
Name: Age, dtype: float64

In [25]:
x["Age"].groupby(x["Supervisor Number"]).mean()

Supervisor Number
1    41.956284
2    41.521739
3    42.693396
4    42.169231
5    44.198020
Name: Age, dtype: float64

In [26]:
x["Age"].groupby(x["Materials Needed"]).mean()

Materials Needed
N    42.395028
Y    42.587127
Name: Age, dtype: float64

In [27]:
x["Age"].groupby(x["Task Training Completed"]).mean()

Task Training Completed
N    41.268765
Y    43.397611
Name: Age, dtype: float64

In [28]:
#hours
x["Volunteer Hours"].groupby(x["Task Training Completed"]).mean()

Task Training Completed
N    19.900726
Y    19.737201
Name: Volunteer Hours, dtype: float64

In [29]:
x["Volunteer Hours"].groupby(x["Materials Needed"]).mean()

Materials Needed
N    20.273481
Y    19.538462
Name: Volunteer Hours, dtype: float64

In [30]:
x["Volunteer Hours"].groupby(x["Supervisor Number"]).mean()

Supervisor Number
1    19.295082
2    19.729469
3    20.537736
4    19.379487
5    19.985149
Name: Volunteer Hours, dtype: float64

In [31]:
x["Volunteer Hours"].groupby(x["Task Level"]).mean()

Task Level
1    20.245902
2    19.301170
3    19.911932
Name: Volunteer Hours, dtype: float64

In [32]:
x["Volunteer Hours"].groupby(x["Volunteer Task"]).mean()

Volunteer Task
Booth Set-Up               19.640351
Clean Up                   19.171875
Concession Stand           20.746479
Fire Safety                20.058333
First Aid Booth            19.584615
Gardening and Lawn Care    19.409091
Information Desk           19.977099
Safety                     19.685484
Name: Volunteer Hours, dtype: float64

In [33]:
x["Volunteer Hours"].groupby(x["Month"]).mean()

Month
1     19.869565
2     19.764045
3     20.906250
4     20.757895
5     18.932432
6     19.767123
7     19.837209
8     18.744186
9     19.506024
10    21.541667
11    19.000000
12    19.000000
Name: Volunteer Hours, dtype: float64

In [34]:
x["Volunteer Hours"].groupby(x["Shift"]).mean()

Shift
1    19.520492
2    19.466135
3    21.031008
4    19.146341
Name: Volunteer Hours, dtype: float64

In [35]:
x["Volunteer Hours"].groupby(x["Gender"]).mean()

Gender
F    19.932515
M    19.682353
Name: Volunteer Hours, dtype: float64

7. There are specific groups of volunteers that need to be followed-up with immediately! These are the volunteers that have some outstanding business to handle before the big festival. Locate the group of volunteers that fall within each of these conditions.
***
* Locate the volunteers who still need materials for their volunteer task
* Locate the volunteers who have not yet completed their volunteer training
* Locate the volunteers who are experts are their task (aka Task Level = 3)
* Locate the volunteers who are working fire safety and haven't yet completed their training - these folks need to get trained ASAP!

In [36]:
#Locate the volunteers who still need materials for their volunteer task
x.loc[x["Materials Needed"] == "Y"] #637 volunteers need materials

,First,Last,Gender,Age,Shift,Month,Volunteer Task,Task Level,Supervisor Number,Fees Owed,Materials Needed,Volunteer Hours,Hours Pledged,Task Training Completed,Recruited Volunteers,Eligibility
0,Jackie,Jackson,F,59,4,12,Fire Safety,2,1,18,Y,19,28,Y,3,Eligible
3,Tanya,Henderson,F,19,2,2,Information Desk,3,1,26,Y,9,28,Y,5,Eligible
4,Walter,Franklin,M,25,1,2,Concession Stand,1,1,25,Y,11,28,Y,4,Eligible
6,Martin,Ettienne,M,36,2,8,Gardening and Lawn Care,2,1,8,Y,26,28,N,6,Eligible
8,Denise,Henderson,F,38,1,6,First Aid Booth,2,1,12,Y,23,28,N,5,Eligible
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,Walter,Martins,M,67,3,12,Fire Safety,1,5,9,Y,28,28,N,3,Eligible
994,Walter,Mulgrew,M,63,3,4,Information Desk,2,5,10,Y,25,28,Y,5,Eligible
996,Larry,Patterson,M,49,1,4,Clean Up,2,5,21,Y,16,28,N,3,Eligible
997,Victor,Kane,M,39,3,7,Concession Stand,2,5,28,Y,8,28,Y,4,Eligible
998,Victoria,Rogers,F,29,4,4,Gardening and Lawn Care,2,5,21,Y,18,28,N,1,Eligible

In [37]:
# Locate the volunteers who have not yet completed their volunteer training
x.loc[x["Task Training Completed"] == 'N'] #413 volunteers don't complete their training

,First,Last,Gender,Age,Shift,Month,Volunteer Task,Task Level,Supervisor Number,Fees Owed,Materials Needed,Volunteer Hours,Hours Pledged,Task Training Completed,Recruited Volunteers,Eligibility
1,Mary,Patterson,F,31,4,10,First Aid Booth,1,1,7,N,27,28,N,6,Eligible
6,Martin,Ettienne,M,36,2,8,Gardening and Lawn Care,2,1,8,Y,26,28,N,6,Eligible
7,Peter,Michaels,M,36,1,6,Concession Stand,3,1,7,N,27,28,N,6,Eligible
8,Denise,Henderson,F,38,1,6,First Aid Booth,2,1,12,Y,23,28,N,5,Eligible
24,Roger,Walters,M,61,2,7,Clean Up,3,1,25,Y,12,28,N,3,Eligible
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,Sam,Withers,M,37,4,11,Gardening and Lawn Care,2,5,22,N,16,28,N,2,Eligible
989,Onika,Sears,F,38,1,1,Concession Stand,1,5,3,N,34,28,N,3,Eligible
993,Walter,Martins,M,67,3,12,Fire Safety,1,5,9,Y,28,28,N,3,Eligible
996,Larry,Patterson,M,49,1,4,Clean Up,2,5,21,Y,16,28,N,3,Eligible
998,Victoria,Rogers,F,29,4,4,Gardening and Lawn Care,2,5,21,Y,18,28,N,1,Eligible

In [38]:
#Locate the volunteers who are experts are their task (aka Task Level = 3)

x.loc[x["Task Level"] == 3] #352 volunteers

,First,Last,Gender,Age,Shift,Month,Volunteer Task,Task Level,Supervisor Number,Fees Owed,Materials Needed,Volunteer Hours,Hours Pledged,Task Training Completed,Recruited Volunteers,Eligibility
2,Tanya,Adams,F,48,1,3,Concession Stand,3,1,22,N,16,28,Y,2,Eligible
3,Tanya,Henderson,F,19,2,2,Information Desk,3,1,26,Y,9,28,Y,5,Eligible
7,Peter,Michaels,M,36,1,6,Concession Stand,3,1,7,N,27,28,N,6,Eligible
10,Sam,Michaels,M,57,4,3,First Aid Booth,3,1,5,Y,32,28,Y,3,Eligible
11,Jada,Walters,F,20,1,5,Concession Stand,3,1,26,N,10,28,Y,4,Eligible
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,August,Jackson,F,30,1,11,Clean Up,3,5,26,N,11,28,Y,3,Eligible
981,Betty,Vaughn,F,65,2,3,Safety,3,5,28,N,10,28,N,2,Eligible
982,Mary,Kennedy,F,36,3,11,Information Desk,3,5,15,Y,20,28,N,5,Eligible
985,Martin,Martins,M,34,2,12,Information Desk,3,5,21,N,13,28,Y,6,Eligible
988,Mary,Carter,F,60,3,1,Information Desk,3,5,25,Y,10,28,Y,5,Eligible

In [39]:
#Locate the volunteers who are working fire safety and haven't yet completed their training 
#- these folks need to get trained ASAP!

x["ASAP"] = np.where(((x["Volunteer Task"] == "Fire Safety") & (x["Task Training Completed"] == "N")), 0,1)
x

,First,Last,Gender,Age,Shift,Month,Volunteer Task,Task Level,Supervisor Number,Fees Owed,Materials Needed,Volunteer Hours,Hours Pledged,Task Training Completed,Recruited Volunteers,Eligibility,ASAP
0,Jackie,Jackson,F,59,4,12,Fire Safety,2,1,18,Y,19,28,Y,3,Eligible,1
1,Mary,Patterson,F,31,4,10,First Aid Booth,1,1,7,N,27,28,N,6,Eligible,1
2,Tanya,Adams,F,48,1,3,Concession Stand,3,1,22,N,16,28,Y,2,Eligible,1
3,Tanya,Henderson,F,19,2,2,Information Desk,3,1,26,Y,9,28,Y,5,Eligible,1
4,Walter,Franklin,M,25,1,2,Concession Stand,1,1,25,Y,11,28,Y,4,Eligible,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,Walter,Mulgrew,M,63,3,4,Information Desk,2,5,10,Y,25,28,Y,5,Eligible,1
995,Veronica,Looner,F,63,3,5,Clean Up,2,5,28,N,8,28,Y,4,Eligible,1
996,Larry,Patterson,M,49,1,4,Clean Up,2,5,21,Y,16,28,N,3,Eligible,1
997,Victor,Kane,M,39,3,7,Concession Stand,2,5,28,Y,8,28,Y,4,Eligible,1
998,Victoria,Rogers,F,29,4,4,Gardening and Lawn Care,2,5,21,Y,18,28,N,1,Eligible,1

In [40]:
#df.loc[(df["Volunteer Task"] == "Fire Safety") & (df["Task Training Completed"] == "N")]
x.loc[x["Volunteer Task"] == "Fire Safety"].loc [x["Task Training Completed"] == "N"]

,First,Last,Gender,Age,Shift,Month,Volunteer Task,Task Level,Supervisor Number,Fees Owed,Materials Needed,Volunteer Hours,Hours Pledged,Task Training Completed,Recruited Volunteers,Eligibility,ASAP
34,Tanya,Harrison,F,44,1,3,Fire Safety,1,1,24,N,11,28,N,5,Eligible,0
62,Ronelle,Samuelson,F,55,1,1,Fire Safety,1,1,14,Y,21,28,N,5,Eligible,0
74,Roger,Sapp,M,67,4,2,Fire Safety,2,1,9,Y,25,28,N,6,Eligible,0
96,Adam,Patterson,M,23,2,2,Fire Safety,1,1,29,Y,7,28,N,4,Eligible,0
118,Denise,Moore,F,66,2,10,Fire Safety,2,1,29,Y,9,28,N,2,Eligible,0
164,Samantha,Franklin,F,61,3,6,Fire Safety,2,1,24,Y,12,28,N,4,Eligible,0
173,Nicole,Kennedy,F,40,4,5,Fire Safety,1,1,6,Y,31,28,N,3,Eligible,0
225,Karen,Looner,F,36,3,2,Fire Safety,2,2,9,N,27,28,N,4,Eligible,0
227,Betty,Baker,F,17,4,5,Fire Safety,2,2,30,Y,7,28,N,3,Eligible,0
230,Adam,Vaughn,M,39,4,9,Fire Safety,3,2,28,Y,8,28,N,4,Eligible,0
231,Martin,Sapp,M,40,1,3,Fire Safety,2,2,21,Y,16,28,N,3,Eligible,0
250,Aaron,Adams,M,42,3,2,Fire Safety,2,2,16,Y,22,28,N,2,Eligible,0
254,Sam,Monroe,M,34,2,7,Fire Safety,3,2,16,Y,21,28,N,3,Eligible,0
273,Nicole,Isaacson,F,57,2,4,Fire Safety,2,2,10,N,24,28,N,6,Eligible,0
275,David,Kennedy,M,24,3,6,Fire Safety,3,2,9,Y,28,28,N,3,Eligible,0
282,Francine,Kane,F,20,4,5,Fire Safety,1,2,20,Y,15,28,N,5,Eligible,0
303,Tom,Samuelson,M,29,2,12,Fire Safety,1,2,8,N,30,28,N,2,Eligible,0
313,Brad,Carter,M,33,4,5,Fire Safety,2,2,13,N,23,28,N,4,Eligible,0
323,Oliver,Rose,M,16,1,2,Fire Safety,3,2,30,Y,6,28,N,4,Eligible,0
345,Mary,Franklin,F,29,4,1,Fire Safety,1,2,16,N,23,28,N,1,Eligible,0
361,Jada,Rose,F,35,3,6,Fire Safety,2,2,25,N,14,28,N,1,Eligible,0
386,Larry,Monroe,M,65,4,4,Fire Safety,2,2,18,Y,17,28,N,5,Eligible,0
398,Brad,Harrison,M,54,4,10,Fire Safety,3,3,9,Y,29,28,N,2,Eligible,0
426,Frank,Walters,M,65,1,3,Fire Safety,2,3,11,N,26,28,N,3,Eligible,0
466,Charles,Adams,M,56,1,12,Fire Safety,2,3,25,Y,11,28,N,4,Eligible,0
485,Veronica,Martins,F,48,3,11,Fire Safety,2,3,11,N,26,28,N,3,Eligible,0
489,Martin,Isaacson,M,24,4,9,Fire Safety,1,3,7,N,29,28,N,4,Eligible,0
497,Ronelle,Ettienne,F,58,1,4,Fire Safety,2,3,10,Y,25,28,N,5,Eligible,0
501,Onika,Michaels,F,39,2,4,Fire Safety,3,3,7,N,31,28,N,2,Eligible,0
539,Ronelle,Sapp,F,41,1,1,Fire Safety,1,3,12,N,25,28,N,3,Eligible,0
547,Francine,Baker,F,17,1,7,Fire Safety,1,3,30,Y,5,28,N,5,Eligible,0
596,Betty,Rogers,F,17,3,5,Fire Safety,3,3,22,Y,15,28,N,3,Eligible,0
604,Roger,Kane,M,23,4,1,Fire Safety,1,4,12,Y,23,28,N,5,Eligible,0
617,Tom,Moore,M,23,4,7,Fire Safety,1,4,19,N,17,28,N,4,Eligible,0
621,Lisa,Looner,F,49,3,2,Fire Safety,1,4,8,N,28,28,N,4,Eligible,0
627,Ronelle,Withers,F,58,4,10,Fire Safety,1,4,10,Y,25,28,N,5,Eligible,0
628,Lisa,Johnson,F,52,4,3,Fire Safety,2,4,21,Y,16,28,N,3,Eligible,0
631,Tanya,Withers,F,16,4,8,Fire Safety,2,4,20,N,15,28,N,5,Eligible,0
665,Onika,Samuelson,F,67,1,2,Fire Safety,1,4,3,Y,34,28,N,3,Eligible,0
720,Francine,Adams,F,41,3,11,Fire Safety,3,4,7,Y,31,28,N,2,Eligible,0
748,Jada,Looner,F,19,2,6,Fire Safety,2,4,28,N,10,28,N,2,Eligible,0
799,Oliver,Vaughn,M,64,2,3,Fire Safety,1,5,4,Y,33,28,N,3,Eligible,0
845,Tanya,Patterson,F,48,4,8,Fire Safety,1,5,14,N,23,28,N,3,Eligible,0
859,John,Harrison,M,31,2,2,Fire Safety,3,5,16,Y,19,28,N,5,Eligible,0
868,Veronica,Vaughn,F,66,3,8,Fire Safety,3,5,14,N,24,28,N,2,Eligible,0
873,Ronelle,Carter,F,49,4,2,Fire Safety,1,5,13,Y,24,28,N,3,Eligible,0
884,Jackie,Sapp,F,31,4,8,Fire Safety,2,5,20,N,17,28,N,3,Eligible,0
892,Victor,Withers,M,61,2,12,Fire Safety,2,5,19,Y,19,28,N,2,Eligible,0
905,Denise,Sapp,F,68,2,4,Fire Safety,2,5,29,N,8,28,N,3,Eligible,0
921,Mike,Carter,M,60,3,10,Fire Safety,1,5,15,N,23,28,N,2,Eligible,0
969,Walter,Mulgrew,M,61,3,11,Fire Safety,3,5,27,N,12,28,N,1,Eligible,0
993,Walter,Martins,M,67,3,12,Fire Safety,1,5,9,Y,28,28,N,3,Eligible,0

8. To keep track of volunteers who meet specific conditions, make some additional columns to hold the new information. 
***

* Inexperienced volunteers may get confused or lost. Create a new column called "needsMentor". This column should be assigned a value of "1" if a volunteer has not completed training and is at skill level 1. 
* How many volunteers haven't completed the volunteer hours they promised they would? Create a new column that subtracts the number of hours pledged ("Hours Pledged") from the number of volunteer hours already worked ("Volunteer Hours). Call this column "hoursNeeded". 
* There are some overly committed volunteers - they have already worked all their pledged volunteer hours and are still going! These folks need to get a specific bonus when the festival is over - we need to track them somehow. Create a new column called "overtimeBonus" - if "hoursNeeded" is less than 0, this column should be "1".

In [41]:
#Create a new column called "needsMentor". 
#This column should be assigned a value of "1" if a volunteer has not completed training and is at skill level 1.

x["needsMentor"] = np.where(((x["Task Training Completed"] == "N") & (x["Task Level"] == 1)), 1,0)
x.head(25)

,First,Last,Gender,Age,Shift,Month,Volunteer Task,Task Level,Supervisor Number,Fees Owed,Materials Needed,Volunteer Hours,Hours Pledged,Task Training Completed,Recruited Volunteers,Eligibility,ASAP,needsMentor
0,Jackie,Jackson,F,59,4,12,Fire Safety,2,1,18,Y,19,28,Y,3,Eligible,1,0
1,Mary,Patterson,F,31,4,10,First Aid Booth,1,1,7,N,27,28,N,6,Eligible,1,1
2,Tanya,Adams,F,48,1,3,Concession Stand,3,1,22,N,16,28,Y,2,Eligible,1,0
3,Tanya,Henderson,F,19,2,2,Information Desk,3,1,26,Y,9,28,Y,5,Eligible,1,0
4,Walter,Franklin,M,25,1,2,Concession Stand,1,1,25,Y,11,28,Y,4,Eligible,1,0
5,Victoria,Ettienne,F,62,4,10,Fire Safety,2,1,21,N,17,28,Y,2,Eligible,1,0
6,Martin,Ettienne,M,36,2,8,Gardening and Lawn Care,2,1,8,Y,26,28,N,6,Eligible,1,0
7,Peter,Michaels,M,36,1,6,Concession Stand,3,1,7,N,27,28,N,6,Eligible,1,0
8,Denise,Henderson,F,38,1,6,First Aid Booth,2,1,12,Y,23,28,N,5,Eligible,1,0
9,Walter,Moore,M,25,2,11,Concession Stand,1,1,18,Y,19,28,Y,3,Eligible,1,0
10,Sam,Michaels,M,57,4,3,First Aid Booth,3,1,5,Y,32,28,Y,3,Eligible,1,0
11,Jada,Walters,F,20,1,5,Concession Stand,3,1,26,N,10,28,Y,4,Eligible,1,0
12,Jack,Ettienne,M,33,2,8,Booth Set-Up,3,1,29,Y,9,28,Y,2,Eligible,1,0
13,Tanya,Carter,F,29,3,6,Concession Stand,1,1,10,Y,26,28,Y,4,Eligible,1,0
14,Tom,Mulgrew,M,42,3,3,Clean Up,2,1,21,Y,14,28,Y,5,Eligible,1,0
15,Betty,Looner,F,43,4,1,Safety,2,1,9,Y,25,28,Y,6,Eligible,1,0
16,John,Looner,M,21,3,4,Clean Up,1,1,8,N,30,28,Y,2,Eligible,1,0
17,Roger,Looner,M,51,1,10,Gardening and Lawn Care,3,1,9,N,28,28,Y,3,Eligible,1,0
18,Karen,Looner,F,32,2,9,Booth Set-Up,3,1,9,Y,29,28,Y,2,Eligible,1,0
19,India,Looner,F,19,4,11,Fire Safety,3,1,14,Y,24,28,Y,2,Eligible,1,0
20,Victor,Looner,M,22,3,4,Clean Up,2,1,2,Y,32,28,Y,6,Eligible,1,0
21,Frank,Patterson,M,43,3,2,Concession Stand,3,1,5,Y,32,28,Y,3,Eligible,1,0
22,Roger,Sapp,M,22,4,12,Clean Up,3,1,3,Y,31,28,Y,6,Eligible,1,0
23,August,Harrison,F,66,2,12,Booth Set-Up,3,1,26,N,12,28,Y,2,Eligible,1,0
24,Roger,Walters,M,61,2,7,Clean Up,3,1,25,Y,12,28,N,3,Eligible,1,0

In [42]:
#How many volunteers haven't completed the volunteer hours they promised they would? 
#Create a new column that subtracts the number of hours pledged ("Hours Pledged") 
#from the number of volunteer hours already worked ("Volunteer Hours). 
#Call this column "hoursNeeded".

x["hoursNeeded"] = x["Volunteer Hours"] - x["Hours Pledged"]
x.head(10)

,First,Last,Gender,Age,Shift,Month,Volunteer Task,Task Level,Supervisor Number,Fees Owed,Materials Needed,Volunteer Hours,Hours Pledged,Task Training Completed,Recruited Volunteers,Eligibility,ASAP,needsMentor,hoursNeeded
0,Jackie,Jackson,F,59,4,12,Fire Safety,2,1,18,Y,19,28,Y,3,Eligible,1,0,-9
1,Mary,Patterson,F,31,4,10,First Aid Booth,1,1,7,N,27,28,N,6,Eligible,1,1,-1
2,Tanya,Adams,F,48,1,3,Concession Stand,3,1,22,N,16,28,Y,2,Eligible,1,0,-12
3,Tanya,Henderson,F,19,2,2,Information Desk,3,1,26,Y,9,28,Y,5,Eligible,1,0,-19
4,Walter,Franklin,M,25,1,2,Concession Stand,1,1,25,Y,11,28,Y,4,Eligible,1,0,-17
5,Victoria,Ettienne,F,62,4,10,Fire Safety,2,1,21,N,17,28,Y,2,Eligible,1,0,-11
6,Martin,Ettienne,M,36,2,8,Gardening and Lawn Care,2,1,8,Y,26,28,N,6,Eligible,1,0,-2
7,Peter,Michaels,M,36,1,6,Concession Stand,3,1,7,N,27,28,N,6,Eligible,1,0,-1
8,Denise,Henderson,F,38,1,6,First Aid Booth,2,1,12,Y,23,28,N,5,Eligible,1,0,-5
9,Walter,Moore,M,25,2,11,Concession Stand,1,1,18,Y,19,28,Y,3,Eligible,1,0,-9

In [43]:
#There are some overly committed volunteers - they have already worked all their pledged volunteer hours
#and are still going! 
#These folks need to get a specific bonus when the festival is over - 
#we need to track them somehow. 
#Create a new column called "overtimeBonus" - if "hoursNeeded" is less than 0, 
#this column should be "1".


x["overtimeBonus"] = np.where(x["hoursNeeded"] < 0, 1, 0)
x.head(10)

,First,Last,Gender,Age,Shift,Month,Volunteer Task,Task Level,Supervisor Number,Fees Owed,Materials Needed,Volunteer Hours,Hours Pledged,Task Training Completed,Recruited Volunteers,Eligibility,ASAP,needsMentor,hoursNeeded,overtimeBonus
0,Jackie,Jackson,F,59,4,12,Fire Safety,2,1,18,Y,19,28,Y,3,Eligible,1,0,-9,1
1,Mary,Patterson,F,31,4,10,First Aid Booth,1,1,7,N,27,28,N,6,Eligible,1,1,-1,1
2,Tanya,Adams,F,48,1,3,Concession Stand,3,1,22,N,16,28,Y,2,Eligible,1,0,-12,1
3,Tanya,Henderson,F,19,2,2,Information Desk,3,1,26,Y,9,28,Y,5,Eligible,1,0,-19,1
4,Walter,Franklin,M,25,1,2,Concession Stand,1,1,25,Y,11,28,Y,4,Eligible,1,0,-17,1
5,Victoria,Ettienne,F,62,4,10,Fire Safety,2,1,21,N,17,28,Y,2,Eligible,1,0,-11,1
6,Martin,Ettienne,M,36,2,8,Gardening and Lawn Care,2,1,8,Y,26,28,N,6,Eligible,1,0,-2,1
7,Peter,Michaels,M,36,1,6,Concession Stand,3,1,7,N,27,28,N,6,Eligible,1,0,-1,1
8,Denise,Henderson,F,38,1,6,First Aid Booth,2,1,12,Y,23,28,N,5,Eligible,1,0,-5,1
9,Walter,Moore,M,25,2,11,Concession Stand,1,1,18,Y,19,28,Y,3,Eligible,1,0,-9,1

9. The Mayor wants to make a speech about the different types of community members that are volunteering for the festival. Specifically, the Mayor would like to present some information on the different age groups. Create a new column called "Age Group" and bin the "Age" column to create bins based on the age of the volunteer. Follow the guidance below for the variations in age. (Hint: you can use any code you like to complete this task - np.select is also an option!)
***

* Teen (0 - 17)
* Young Adult (17.1 - 35)
* Adult (35.1 - 65)
* Senior (65+)

In [44]:
bins = [0, 17, 35, 65, 100]

bin_labels = ["Teens", "Young Adults", "Adults", "Seniors"]

x["Age Group"] = pd.cut(x["Age"], bins, labels=bin_labels)
x.head(10)

,First,Last,Gender,Age,Shift,Month,Volunteer Task,Task Level,Supervisor Number,Fees Owed,...,Volunteer Hours,Hours Pledged,Task Training Completed,Recruited Volunteers,Eligibility,ASAP,needsMentor,hoursNeeded,overtimeBonus,Age Group
0,Jackie,Jackson,F,59,4,12,Fire Safety,2,1,18,...,19,28,Y,3,Eligible,1,0,-9,1,Adults
1,Mary,Patterson,F,31,4,10,First Aid Booth,1,1,7,...,27,28,N,6,Eligible,1,1,-1,1,Young Adults
2,Tanya,Adams,F,48,1,3,Concession Stand,3,1,22,...,16,28,Y,2,Eligible,1,0,-12,1,Adults
3,Tanya,Henderson,F,19,2,2,Information Desk,3,1,26,...,9,28,Y,5,Eligible,1,0,-19,1,Young Adults
4,Walter,Franklin,M,25,1,2,Concession Stand,1,1,25,...,11,28,Y,4,Eligible,1,0,-17,1,Young Adults
5,Victoria,Ettienne,F,62,4,10,Fire Safety,2,1,21,...,17,28,Y,2,Eligible,1,0,-11,1,Adults
6,Martin,Ettienne,M,36,2,8,Gardening and Lawn Care,2,1,8,...,26,28,N,6,Eligible,1,0,-2,1,Adults
7,Peter,Michaels,M,36,1,6,Concession Stand,3,1,7,...,27,28,N,6,Eligible,1,0,-1,1,Adults
8,Denise,Henderson,F,38,1,6,First Aid Booth,2,1,12,...,23,28,N,5,Eligible,1,0,-5,1,Adults
9,Walter,Moore,M,25,2,11,Concession Stand,1,1,18,...,19,28,Y,3,Eligible,1,0,-9,1,Young Adults

10. The Supervisor Number column is all messed up. Someone didn't record is correctly, and now it is meaningless! Drop it from this dataset - it's not providing any meaningful information.

In [45]:
x.drop(columns= 'Supervisor Number', inplace=True)
x

,First,Last,Gender,Age,Shift,Month,Volunteer Task,Task Level,Fees Owed,Materials Needed,Volunteer Hours,Hours Pledged,Task Training Completed,Recruited Volunteers,Eligibility,ASAP,needsMentor,hoursNeeded,overtimeBonus,Age Group
0,Jackie,Jackson,F,59,4,12,Fire Safety,2,18,Y,19,28,Y,3,Eligible,1,0,-9,1,Adults
1,Mary,Patterson,F,31,4,10,First Aid Booth,1,7,N,27,28,N,6,Eligible,1,1,-1,1,Young Adults
2,Tanya,Adams,F,48,1,3,Concession Stand,3,22,N,16,28,Y,2,Eligible,1,0,-12,1,Adults
3,Tanya,Henderson,F,19,2,2,Information Desk,3,26,Y,9,28,Y,5,Eligible,1,0,-19,1,Young Adults
4,Walter,Franklin,M,25,1,2,Concession Stand,1,25,Y,11,28,Y,4,Eligible,1,0,-17,1,Young Adults
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,Walter,Mulgrew,M,63,3,4,Information Desk,2,10,Y,25,28,Y,5,Eligible,1,0,-3,1,Adults
995,Veronica,Looner,F,63,3,5,Clean Up,2,28,N,8,28,Y,4,Eligible,1,0,-20,1,Adults
996,Larry,Patterson,M,49,1,4,Clean Up,2,21,Y,16,28,N,3,Eligible,1,0,-12,1,Adults
997,Victor,Kane,M,39,3,7,Concession Stand,2,28,Y,8,28,Y,4,Eligible,1,0,-20,1,Adults
998,Victoria,Rogers,F,29,4,4,Gardening and Lawn Care,2,21,Y,18,28,N,1,Eligible,1,0,-10,1,Young Adults

11. There is a new policy about volunteer fees. It seems that some of the fees owed were actually for materials that the volunteer paid for out of pocket. Wipe out the debt for those volunteers who owe just a few dollars. If the volunteer owes less than 5 dollars, replace that value with 0!

In [48]:
x["Fees Owed"].replace([5,4,3,2,1], [0,0,0,0,0], inplace=True)
x

,First,Last,Gender,Age,Shift,Month,Volunteer Task,Task Level,Fees Owed,Materials Needed,Volunteer Hours,Hours Pledged,Task Training Completed,Recruited Volunteers,Eligibility,ASAP,needsMentor,hoursNeeded,overtimeBonus,Age Group
0,Jackie,Jackson,F,59,4,12,Fire Safety,2,18,Y,19,28,Y,3,Eligible,1,0,-9,1,Adults
1,Mary,Patterson,F,31,4,10,First Aid Booth,1,7,N,27,28,N,6,Eligible,1,1,-1,1,Young Adults
2,Tanya,Adams,F,48,1,3,Concession Stand,3,22,N,16,28,Y,2,Eligible,1,0,-12,1,Adults
3,Tanya,Henderson,F,19,2,2,Information Desk,3,26,Y,9,28,Y,5,Eligible,1,0,-19,1,Young Adults
4,Walter,Franklin,M,25,1,2,Concession Stand,1,25,Y,11,28,Y,4,Eligible,1,0,-17,1,Young Adults
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,Walter,Mulgrew,M,63,3,4,Information Desk,2,10,Y,25,28,Y,5,Eligible,1,0,-3,1,Adults
995,Veronica,Looner,F,63,3,5,Clean Up,2,28,N,8,28,Y,4,Eligible,1,0,-20,1,Adults
996,Larry,Patterson,M,49,1,4,Clean Up,2,21,Y,16,28,N,3,Eligible,1,0,-12,1,Adults
997,Victor,Kane,M,39,3,7,Concession Stand,2,28,Y,8,28,Y,4,Eligible,1,0,-20,1,Adults
998,Victoria,Rogers,F,29,4,4,Gardening and Lawn Care,2,21,Y,18,28,N,1,Eligible,1,0,-10,1,Young Adults

In [ ]:
def replace(x):
     if x <= 5:
        return 0
     
x["Fees Owed"] = x["Fees Owed"].apply(replace)
x

12. We need some code that we can keep around for next year -- when we have the same task but new data! Define a few functions that can complete tasks that we will need to repeat down the road. 

***

* Define a function to recode the column "Gender". Instead of "M" and "F" -- have the words spelled out "Male" and "Female". Apply this function to the "Gender" column. 
* Define a function to recode the column "Month". Convert the numeric "Month" to the name of the Month. Apply this function to the column "Month" and create a new column called "Name of Month".

In [ ]:
def gen(x):
    if x == 'M':
        return "Male"
    elif x == 'F':
        return "Female"
    else:
        return "Unknown"
    
x["Gender"] = x["Gender"].apply(gen)
x.head()

In [ ]:
x["Month"].replace([1,2,3,4,5,6,7,8,9,10,11,12], ["January", "Feruary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ], inplace = True)
x.head(10)