### Homework #2

1. Round 4.5667 to the nearest hundreth (2 decimals) using a build-in function, round().

In [58]:
round(4.5667,2)

4.57

2. Convert "657" to an integer data type

In [127]:
x = "657"
i = int(x)
print(i)

657

3. Write a program to get two numbers from a user. Then, create a 6-digit code that is a series of randomly generated numbers between the two numbers given by the user. Print the 6-digit code so all digits are separated by a dash.

In [23]:
import random
n1 = int(input("Enter a number: "))
n2 = int(input("Enter a number: "))
print(rand.randint(n1, n2),"-",rand.randint(n1, n2),"-",rand.randint(n1, n2),"-",rand.randint(n1, n2),"-",rand.randint(n1, n2),"-",rand.randint(n1, n2))

Enter a number: 4
Enter a number: 56
48 - 13 - 22 - 16 - 7 - 46

4. Write a program to remove ALL the white spaces from the following text:

        Hickory, dickory, dock,     
        The mouse ran up the clock.   
        The clock struck one,   
        The mouse ran down,                      
        Hickory, dickory, dock

In [134]:
x = """Hickory, dickory, dock,     
 The mouse ran up the clock.   
 The clock struck one,   
 The mouse ran down,                      
 Hickory, dickory, dock                  """
print(x.replace(" ", '') + x1.replace(" ", '') + x2.replace(" ", '') + x3.replace(" ", '') + x4.replace(" ", ''))

Hickory,dickory,dock,
Themouseranuptheclock.
Theclockstruckone,
Themouserandown,
Hickory,dickory,dockThemouseranuptheclock.Theclockstruckone,Themouserandown,Hickory,dickory,dock

In [133]:
x = """Hickory, dickory, dock,     
 The mouse ran up the clock.   
 The clock struck one,   
 The mouse ran down,                      
 Hickory, dickory, dock                  """
print(x.replace(" ", ''))

Hickory,dickory,dock,
Themouseranuptheclock.
Theclockstruckone,
Themouserandown,
Hickory,dickory,dock

5. Write a function to calculate the miles per gallon. Get a miles driven and gallons used from a user and call your function to calculate the miles per gallon.

In [60]:
def miles_per_gallons(mile , gallon):
    return mile/gallon

m = int(input("Enter the number of miles: "))
g = int(input("Enter the number of gallons: "))

miles_per_gallons(m,g)

Enter the number of miles: 500
Enter the number of gallons: 30

16.666666666666668

6. Enhance the <b>compute()</b> function created during Module 2. Enhance the function to compute a circle's area and circumference where:

 - circle's area = 3.14 X (radius X radius)   
 - circle's circumference = 3.14 X diameter

In [66]:
def compute(area, circumference):
    
    print(f"Area is: {area}")
    print(f"Circumference is: {circumference}")
radius = int(input("Enter a radius:"))
area = 3.14 * (radius*radius)
circumference = 3.14 * (2*radius)
compute(area, circumference)

Enter a radius:4
Area is: 50.24
Circumference is: 25.12

7. Write a function called multiply_two() that accepts two parameters. The function should print a message like '15 * 2 = 30'.  Randomly generate two numbers between 1 and 100, then call the function with the two random numbers.

In [103]:
def multiply_two(a, b):
    return(f"{a} * {b} = {a * b}")
a = rand.randint(1, 100)
b = rand.randint(1, 100)
multiply_two(a,b)

'98 * 41 = 4018'

8. Create a function for a multiplication table.  Get a number from a user and then call you function which produces a multiplication table for that number.
The output should look something like this:

        Enter a number: 3
        3 X 1 = 3
        3 X 2 = 6
        3 X 3 = 9
        3 X 4 = 12
        3 X 5 = 15
        3 X 6 = 18
        3 X 7 = 21
        3 X 8 = 24
        3 X 9 = 27

In [122]:
def multiplication_table(x):
    for y in range(1,10):
        print(f"{x} * {y} = {x * y}")
x = int(input("Enter the number:"))
multiplication_table(x)

Enter the number:7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [137]:
def multiplication_table(x):
    print(f"{x} * {1} = {x * 1}")
    print(f"{x} * {2} = {x * 2}")
    print(f"{x} * {3} = {x * 3}")
    print(f"{x} * {4} = {x * 4}")
    print(f"{x} * {5} = {x * 5}")
    print(f"{x} * {6} = {x * 6}")
    print(f"{x} * {7} = {x * 7}")
    print(f"{x} * {8} = {x * 8}")
    print(f"{x} * {9} = {x * 9}")
x = int(input("Enter the number:"))
multiplication_table(x)

Enter the number:6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [124]:
def multiplication_table(n, a = 1, b = 2, c = 3, d = 4, e = 5, f = 6, g = 7, i = 8, h = 9):
    print(f"{n} * {a} = {n * a}")
    print(f"{n} * {b} = {n * b}")
n = int(input("Enter a number: "))
multiplication_table(n, a = 1, b = 2, c = 3, d = 4, e = 5, f = 6, g = 7, i = 8, h = 9)

Enter a number: 5
5 * 1 = 5
5 * 2 = 10